In [1]:
import pandas as pd

In [2]:
def load_csv(path):
    df = pd.read_csv(
        path, header=6, sep=';', index_col=[0],
        parse_dates=[0], names=new_columns, dayfirst=True
    ).sort_index(ascending=True)
    return df

In [3]:
def new_time_features(df, max_temp_col, min_temp_col, press_col, hum_col):
    all_columns = [max_temp_col, min_temp_col, press_col, hum_col]
    temp_columns = [max_temp_col, min_temp_col]
    
    df['month'] = df.index.month
    df['day'] = df.index.day
    
    for col in all_columns:
        df['rolling_mean_'+col] = df[col].shift(7).rolling(10).mean()
        
    df['lag_7_max_temp'] = df[max_temp_col].shift(7)
    df['lag_20_max_temp'] = df[max_temp_col].shift(20)
    
    for col in temp_columns:
        df['lag_15_'+col] = df[col].shift(15)
        df['lag_180_'+col] = df[col].shift(180)
    
    return df

In [4]:
new_columns = [
    'температура', 'атм_давл_на_ст', 'атм_давл_на_ур_мор', 'изм_атм_давл', 'отн_влаж',
    'напр_ветра', 'скор_ветра', 'макс_порыв_ветра1', 'макс_порыв_ветра2', 'облач', 'тек_погода',
    'прош_погода1', 'прош_погода2', 'мин_темп', 'макс_темп', 'облака', 'колич_обл', 'выс_обл',
    'облака1', 'облака2', 'дальн_вид', 'темп_точки_росы', 'колич_осадков', 'время_накопл_осадков',
    'поверхн_почвы', 'темп_почвы', 'поверхн_почвы2', 'выс_снега', ''
]

In [5]:
df_1 = load_csv('Datasets/weather/weather_2005-2010.csv')
df_2 = load_csv('Datasets/weather/weather_2010-2015.csv')
df_3 = load_csv('Datasets/weather/weather_2015-2020.csv')
df_4 = load_csv('Datasets/weather/weather_last.csv')

In [6]:
df_1.head(3)

,температура,атм_давл_на_ст,атм_давл_на_ур_мор,изм_атм_давл,отн_влаж,напр_ветра,скор_ветра,макс_порыв_ветра1,макс_порыв_ветра2,облач,...,облака2,дальн_вид,темп_точки_росы,колич_осадков,время_накопл_осадков,поверхн_почвы,темп_почвы,поверхн_почвы2,выс_снега,
2005-02-01 03:00:00,-8.6,743.0,758.1,NaN,89.0,"Ветер, дующий с юго-востока",2.0,NaN,NaN,100%.,...,"Перисто-кучевые одни или перисто-кучевые, сопр...",NaN,-10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-01 06:00:00,-8.2,742.8,757.9,NaN,90.0,"Ветер, дующий с юго-востока",3.0,NaN,NaN,100%.,...,"Перисто-кучевые одни или перисто-кучевые, сопр...",NaN,-9.6,2.0,12.0,NaN,NaN,NaN,NaN,NaN
2005-02-01 09:00:00,-8.6,743.5,758.6,NaN,89.0,"Ветер, дующий с юго-востока",3.0,NaN,NaN,100%.,...,"Перисто-кучевые одни или перисто-кучевые, сопр...",4.0,-10.1,3.0,12.0,NaN,NaN,Ровный слой сухого рассыпчатого снега покрывае...,43.0,NaN

In [7]:
df_1 = df_1[['температура', 'атм_давл_на_ст', 'отн_влаж']]
df_2 = df_2[['температура', 'атм_давл_на_ст', 'отн_влаж']]
df_3 = df_3[['температура', 'атм_давл_на_ст', 'отн_влаж']]
df_4 = df_4[['температура', 'атм_давл_на_ст', 'отн_влаж']]

In [8]:
df_all = pd.concat([df_1, df_2, df_3, df_4])
df_all

                    температура  атм_давл_на_ст  отн_влаж
2005-02-01 03:00:00        -8.6           743.0      89.0
2005-02-01 06:00:00        -8.2           742.8      90.0
2005-02-01 09:00:00        -8.6           743.5      89.0
2005-02-01 12:00:00        -7.1           745.0      85.0
2005-02-01 15:00:00        -6.6           746.8      83.0
...                         ...             ...       ...
2021-09-05 03:00:00         6.3           745.6      88.0
2021-09-05 06:00:00         6.1           746.8      85.0
2021-09-05 09:00:00         6.7           748.3      81.0
2021-09-05 12:00:00         8.2           749.8      78.0
2021-09-05 15:00:00         9.9           750.1      67.0

[57810 rows x 3 columns]

In [9]:
df_all_max_temp = df_all['температура'].to_frame().astype('float')
df_all_final = df_all_max_temp.resample('1D').max()
df_all_final = df_all_final.rename(columns={'температура':'max_temp'})
df_all_final.head()

            max_temp
2005-02-01      -6.6
2005-02-02      -8.0
2005-02-03     -10.6
2005-02-04      -8.6
2005-02-05      -8.1

In [10]:
df_all_min_temp = df_all['температура'].to_frame().astype('float')
df_all_min_temp = df_all_min_temp.resample('1D').min()
df_all_min_temp = df_all_min_temp.rename(columns={'температура':'min_temp'})
df_all_final = df_all_final.join(df_all_min_temp, how='left')
df_all_final.head()

            max_temp  min_temp
2005-02-01      -6.6      -8.9
2005-02-02      -8.0     -11.0
2005-02-03     -10.6     -15.2
2005-02-04      -8.6     -19.9
2005-02-05      -8.1     -21.3

In [11]:
columns_for_remake = ['атм_давл_на_ст', 'отн_влаж']

In [12]:
for col in columns_for_remake:
    df_all_new_column = df_all[col].to_frame().astype('float')
    df_all_new_column = df_all_new_column.resample('1D').mean().round(1)
    df_all_final = df_all_final.join(df_all_new_column, how='left')
df_all_final = df_all_final.rename(columns={'атм_давл_на_ст':'pressure', 'отн_влаж':'humidity'})
df_all_final.head()

            max_temp  min_temp  pressure  humidity
2005-02-01      -6.6      -8.9     745.7      86.6
2005-02-02      -8.0     -11.0     754.7      83.9
2005-02-03     -10.6     -15.2     763.2      80.6
2005-02-04      -8.6     -19.9     767.6      78.6
2005-02-05      -8.1     -21.3     767.6      88.4

In [13]:
df_all_final.isna().sum()

max_temp    2
min_temp    2
pressure    2
humidity    2
dtype: int64

In [14]:
df_all_final[df_all_final['max_temp'].isna()]

            max_temp  min_temp  pressure  humidity
2008-05-06       NaN       NaN       NaN       NaN
2012-12-16       NaN       NaN       NaN       NaN

In [15]:
df_all_final.loc['2008-05-04':'2008-05-08']

            max_temp  min_temp  pressure  humidity
2008-05-04      19.0       3.0     755.3      59.0
2008-05-05      21.1       5.2     751.7      64.6
2008-05-06       NaN       NaN       NaN       NaN
2008-05-07       5.6       1.7     747.8      62.2
2008-05-08      11.6      -2.8     746.9      59.5

In [16]:
df_all_final.loc['2012-12-14':'2012-12-18']

            max_temp  min_temp  pressure  humidity
2012-12-14      -8.2     -12.7     766.6      70.5
2012-12-15     -13.1     -16.4     771.4      81.1
2012-12-16       NaN       NaN       NaN       NaN
2012-12-17     -15.0     -19.4     766.2      87.4
2012-12-18     -15.0     -19.9     765.8      84.6

In [17]:
df_all_final.loc['2008-05-06'] = df_all_final.loc['2008-05-06'].fillna(
    df_all_final.loc['2008-05-04':'2008-05-08'].median())
df_all_final.loc['2008-05-04':'2008-05-08']

            max_temp  min_temp  pressure  humidity
2008-05-04      19.0      3.00    755.30     59.00
2008-05-05      21.1      5.20    751.70     64.60
2008-05-06      15.3      2.35    749.75     60.85
2008-05-07       5.6      1.70    747.80     62.20
2008-05-08      11.6     -2.80    746.90     59.50

In [18]:
df_all_final.loc['2012-12-16'] = df_all_final.loc['2012-12-16'].fillna(
    df_all_final.loc['2012-12-14':'2012-12-18'].median())
df_all_final.loc['2012-12-14':'2012-12-18']

            max_temp  min_temp  pressure  humidity
2012-12-14     -8.20     -12.7     766.6     70.50
2012-12-15    -13.10     -16.4     771.4     81.10
2012-12-16    -14.05     -17.9     766.4     82.85
2012-12-17    -15.00     -19.4     766.2     87.40
2012-12-18    -15.00     -19.9     765.8     84.60

In [19]:
df_all_final.isna().sum()

max_temp    0
min_temp    0
pressure    0
humidity    0
dtype: int64

In [20]:
new_time_features(df_all_final, 'max_temp', 'min_temp', 'pressure', 'humidity')
df_all_final = df_all_final.dropna()

In [21]:
df_all_final

,max_temp,min_temp,pressure,humidity,month,day,rolling_mean_max_temp,rolling_mean_min_temp,rolling_mean_pressure,rolling_mean_humidity,lag_7_max_temp,lag_20_max_temp,lag_15_max_temp,lag_180_max_temp,lag_15_min_temp,lag_180_min_temp
2005-07-31,27.6,15.4,745.1,73.9,7,31,24.900000,17.028571,742.800000,80.300000,26.2,19.5,28.2,-6.6,17.7,-8.9
2005-08-01,26.1,17.0,745.2,77.9,8,1,25.414286,17.342857,742.857143,77.700000,27.2,25.3,27.2,-8.0,16.4,-11.0
2005-08-02,25.7,19.2,744.8,76.8,8,2,25.328571,17.100000,743.028571,77.985714,23.2,25.4,23.6,-10.6,18.1,-15.2
2005-08-03,23.8,16.0,747.6,70.1,8,3,25.128571,17.357143,743.200000,80.142857,24.1,27.0,23.8,-8.6,19.1,-19.9
2005-08-04,22.7,13.1,750.5,72.6,8,4,24.742857,17.014286,744.214286,79.800000,23.3,28.1,25.5,-8.1,16.0,-21.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-01,19.9,13.0,739.0,83.8,9,1,21.100000,13.728571,747.457143,71.457143,19.2,21.7,30.1,-1.7,17.4,-5.9
2021-09-02,13.4,11.0,740.2,76.9,9,2,20.485714,12.971429,747.957143,71.357143,19.3,21.8,30.6,-4.2,19.2,-10.7
2021-09-03,11.6,5.6,737.9,86.2,9,3,20.071429,12.942857,748.628571,73.242857,22.0,24.4,23.6,-2.0,18.5,-7.7
2021-09-04,10.6,6.7,740.2,78.8,9,4,20.085714,12.300000,749.500000,73.600000,21.0,26.2,24.9,-4.9,15.6,-7.8
2021-09-05,9.9,6.1,747.5,81.5,9,5,20.528571,12.257143,749.957143,72.771429,22.7,27.6,20.9,-9.5,17.9,-13.9

In [22]:
df_all_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5881 entries, 2005-07-31 to 2021-09-05
Freq: D
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   max_temp               5881 non-null   float64
 1   min_temp               5881 non-null   float64
 2   pressure               5881 non-null   float64
 3   humidity               5881 non-null   float64
 4   month                  5881 non-null   int64
 5   day                    5881 non-null   int64
 6   rolling_mean_max_temp  5881 non-null   float64
 7   rolling_mean_min_temp  5881 non-null   float64
 8   rolling_mean_pressure  5881 non-null   float64
 9   rolling_mean_humidity  5881 non-null   float64
 10  lag_7_max_temp         5881 non-null   float64
 11  lag_20_max_temp        5881 non-null   float64
 12  lag_15_max_temp        5881 non-null   float64
 13  lag_180_max_temp       5881 non-null   float64
 14  lag_15_min_temp        5881 non-null   float64
 15  lag_180_min_temp       5881 non-null   float64
dtypes: float64(14), int64(2)
memory usage: 781.1 KB

In [23]:
df_all_final.to_csv('Datasets/weather/weather.csv')